# configuration file for adding symlinks to the dotfiles in the specified locations
# <repo dotfile location>=<symlink location on system>
# deleting old symlinks on system can be done with: <space>=<old symlink path>
# =================================================================================
gitconfig=%userprofile%\.gitconfig
minttyrc=%userprofile%\.minttyrc
